html,
body {
  height             : 100%;
  width              : 100%;
  margin             : 0;
  padding            : 0;
  user-select        : none;
  font-family        : "Google Sans Code", "Noto Sans SC", monospace;
  font-optical-sizing: auto;
  font-weight        : 500;
  font-style         : normal;
  background-color   : #f1f2f5;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color           : #bfbfbf;
  }
}